# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*~

# dotfiles
.chezmoi

# Logs
*.log

# Node
node_modules/

# Python
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Misc
*.tmp
*.bak